body {
  background-image: url('/Users/newput/Documents/Training/my-pages/images/tooplate_body.jpg');
  background-repeat: repeat-x;
}
$color: #4A5259;
$border: 2px solid $color;

.wrapper {
  border-left: $border;
  border-right: $border;
  margin: 0 auto;
  width: 77%;
}

header {
  background-image: url('/Users/newput/Documents/Training/my-pages/images/tooplate_header.jpg');
  background-position: top;
  background-repeat: no-repeat;
  height: 230px;
}

.nav {
  list-style-type: none;
  ul{
    padding-top: 10px;
    li {
      display: inline-block;
      margin-right: 15px;
      a {
        color: $color;
        text-decoration: none;
      }
    }
  }
}

.logo {
  margin-top: 40px;
  img {
    width: 25%;
    margin-left: 160px;
  }
  span {
    display: block;
    padding-top: 0px;
    margin-left: 160px;
    color: $color;
  }
}

.search {
  background-image: url('/Users/newput/Documents/Training/my-pages/images/tooplate_middle.jpg');
  background-position: top;
  background-repeat: no-repeat;
  height: 70px;
  span {
    background-image: url('/Users/newput/Documents/Training/my-pages/images/tooplate_search.png');
    background-repeat: no-repeat;
    color: white;
    float: right;
    font-size: 15pt;
    height: 29px;
    margin: 10px;
    padding-left: 10px;
    padding-top: 5px;
    width: 242px;
  }
}

.desc {
  background-image: url('/Users/newput/Documents/Training/my-pages/images/tooplate_main.jpg');
  background-position: top;
  background-repeat: no-repeat;
}

section {
  display: inline-block;
  float: left;
  padding-left: 50px;
  padding-right: 10px;
  padding-top: 10px;
  width: 50%;
}

.learn-more-img {
  display: inline-block;
  padding-left: 100px;
  padding-top: 10px;
  margin-left: 90px;
}

.container {
  clear: both;
  display: inline-block;
  padding-top: 10px;
}

.grid {
  display: inline-block;
  float: left;
  height: 185px;
  padding: 13px;
  width: 290px;
}

.learn-more {
  background-image: url('/Users/newput/Documents/Training/my-pages/images/tooplate_button.png');
  background-repeat: no-repeat;
  background-size: contain;
  height: 31px;
  margin-top: 6px;
  padding-top: 10px;
  width: 140px;
  &:hover {
    cursor: pointer;
  }
}

span {
  color: #85C1E9;
  font-size: 15pt;
}

.portfolio {
  padding-left: 25px;
}

footer {
  background-color: #AED6F1;
  padding: 15px;
  text-align: center;
}
