$bg-color: #AED6F1;
$border: 2px solid #4A5259;
$imgpath: /Users/newput/Documents/Training/my-pages/images;

@mixin fontcolor($color) {
  color: $color;
}
body {
  background-image: url(#{$imgpath}/tooplate_body.jpg);
  background-repeat: repeat-x;

  .wrapper {
    border-left: $border;
    border-right: $border;
    margin: 0 auto;
    width: 77%;

    header {
      background-image: url(#{$imgpath}/tooplate_header.jpg);
      background-position: top;
      background-repeat: no-repeat;
      height: 230px;

      .nav {
        list-style-type: none;
        ul{
          padding-top: 10px;
          li {
            display: inline-block;
            margin-right: 15px;
            a {
              @include fontcolor(#4A5259);
              text-decoration: none;
            }
          }
        }
      }

      .logo {
        margin-top: 40px;
        img {
          width: 25%;
          margin-left: 160px;
        }
        span {
          @include fontcolor(#4A5259);
          display: block;
          margin-left: 160px;
          padding-top: 0px;
        }
      }

    }

    .search {
      background-image: url(#{$imgpath}/tooplate_middle.jpg);
      background-position: top;
      background-repeat: no-repeat;
      height: 70px;
      span {
        background-image: url(#{$imgpath}/tooplate_search.png);
        background-repeat: no-repeat;
        color: white;
        float: right;
        font-size: 15pt;
        height: 29px;
        margin: 10px;
        padding: 5px 0px 0px 10px;
        width: 242px;
      }
    }

    .desc {
      background-image: url(#{$imgpath}/tooplate_main.jpg);
      background-position: top;
      background-repeat: no-repeat;
    }

    section {
      display: inline-block;
      float: left;
      padding-left: 50px;
      padding-right: 10px;
      padding-top: 10px;
      width: 50%;
    }

    .learn-more-img {
      display: inline-block;
      padding-left: 100px;
      padding-top: 10px;
      margin-left: 90px;
    }

    .container {
      clear: both;
      display: inline-block;
      padding-top: 10px;
    }

    .grid {
      display: inline-block;
      float: left;
      height: 185px;
      padding: 13px;
      width: 290px;
    }

    .learn-more {
      background-image: url(#{$imgpath}/tooplate_button.png);
      background-repeat: no-repeat;
      background-size: contain;
      height: 31px;
      margin-top: 6px;
      padding-top: 10px;
      width: 140px;
      &:hover {
        cursor: pointer;
      }
    }

    span {
      @include fontcolor(#85C1E9);
      font-size: 15pt;
    }

    .portfolio {
      padding-left: 25px;
    }

    footer {
      background-color: $bg-color;
      padding: 15px;
      text-align: center;
    }
  }
}
