.page-body {
  background-image: url('./images/Background-26.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.my-navbar {
  height: 50px;
}

.my-navbar-submenu {
  background-color: #E1F5FE;
}

.page-body {
  margin-top: 50px;
}
.search {
  margin: 50px 200px 50px 800px;
}
.banner-text {
  margin: 20px 50px;
}

.large-button {
  margin-right: 120px;
}

.desc {
  background-image: url('./images/tooplate_main.jpg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 125px;
  padding-top: 20px;
}

.content-box {
    margin-bottom: 20px;
}

span {
  color: #85C1E9;
  font-size: 20px;
  padding-bottom: 5px;
}

.portfolio {
  margin-top: 20px;
  padding: 0px 20px;
}

.portfolio-text {
  padding-left: 10px;
}
.img-caption {
  text-align: center;
}

footer {
  background-color: #AED6F1;
  padding: 20px;
  text-align: center;
}

@media screen and (min-width: 768px) and (max-width: 1223px) {
  .banner-text {
    margin: 20px 10px;
  }

  .header {
    background-size: cover;
  }
  .img-caption {
    text-align: left;
  }

  .content-box {
    margin: 5px 35px;
  }

  .search {
    margin: 50px 30px 40px 5px;
  }

  .large-button {
    float: right;
    margin-right: 90px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    background-size: cover;
    height: 400px;
  }
  .banner-text {
    margin-left: 5px;
  }

  .search {
    margin: 5px 5px 15px;
  }

  .large-button {
    margin-right: 150px;
  }
  .content-box {
    margin-bottom: 20px;
  }
}
