body {
  background-image: url(/Users/newput/Documents/Training/my-pages/images/tooplate_body.jpg);
  background-repeat: repeat-x; }
  body .wrapper {
    border-left: 2px solid #4A5259;
    border-right: 2px solid #4A5259;
    margin: 0 auto;
    width: 77%; }
    body .wrapper header {
      background-image: url(/Users/newput/Documents/Training/my-pages/images/tooplate_header.jpg);
      background-position: top;
      background-repeat: no-repeat;
      height: 230px; }
      body .wrapper header .nav {
        list-style-type: none; }
        body .wrapper header .nav ul {
          padding-top: 10px; }
          body .wrapper header .nav ul li {
            display: inline-block;
            margin-right: 15px; }
            body .wrapper header .nav ul li a {
              color: #4A5259;
              text-decoration: none; }
      body .wrapper header .logo {
        margin-top: 40px; }
        body .wrapper header .logo img {
          width: 25%;
          margin-left: 160px; }
        body .wrapper header .logo span {
          color: #4A5259;
          display: block;
          margin-left: 160px;
          padding-top: 0px; }
    body .wrapper .search {
      background-image: url(/Users/newput/Documents/Training/my-pages/images/tooplate_middle.jpg);
      background-position: top;
      background-repeat: no-repeat;
      height: 70px; }
      body .wrapper .search span {
        background-image: url(/Users/newput/Documents/Training/my-pages/images/tooplate_search.png);
        background-repeat: no-repeat;
        color: white;
        float: right;
        font-size: 15pt;
        height: 29px;
        margin: 10px;
        padding: 5px 0px 0px 10px;
        width: 242px; }
    body .wrapper .desc {
      background-image: url(/Users/newput/Documents/Training/my-pages/images/tooplate_main.jpg);
      background-position: top;
      background-repeat: no-repeat; }
    body .wrapper section {
      display: inline-block;
      float: left;
      padding: 10px 10px 0px 50px;
      width: 50%; }
    body .wrapper .learn-more-img {
      display: inline-block;
      padding: 10px 0px 0px 100px;
      margin-left: 90px; }
    body .wrapper .container {
      clear: both;
      display: inline-block;
      padding-top: 10px; }
    body .wrapper .grid {
      display: inline-block;
      float: left;
      height: 185px;
      padding: 13px;
      width: 290px; }
    body .wrapper .learn-more {
      background-image: url(/Users/newput/Documents/Training/my-pages/images/tooplate_button.png);
      background-repeat: no-repeat;
      background-size: contain;
      height: 31px;
      margin-top: 6px;
      padding-top: 10px;
      width: 140px; }
      body .wrapper .learn-more:hover {
        cursor: pointer; }
    body .wrapper span {
      color: #85C1E9;
      font-size: 15pt; }
    body .wrapper .portfolio {
      padding-left: 25px; }
    body .wrapper footer {
      background-color: #AED6F1;
      padding: 15px;
      text-align: center; }

/*# sourceMappingURL=blue-wave.css.map */
